/*//////////// GLOBALS //////////////*/
body {
  font-weight: 400;
  max-width: 100vw;
  overflow: hidden;
  background-color: #f7f9f9;
}

.app {
  background-color: #f7f9f9 !important;
}

* {
  font-family: 'Outfit', sans-serif !important;
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eef1f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
