@import '../../global_styles/main.scss';

.dashboard {
  display: flex;

  .dashboard-container {
    flex: 11;

    .dashboard-content {
      .home-content {
        max-height: 100%;
        overflow-y: scroll;
        padding-top: 10px;
        margin-bottom: 1000px;
        .widgets,
        .charts {
          display: flex;
          padding: 10px 20px;
          gap: 20px;
          flex-wrap: wrap;

          @include mobile {
            display: block;

            * {
              margin-bottom: 30px;
            }
            *:last-child {
              margin-bottom: 0;
            }
          }
        }

        .charts {
          padding-bottom: 20px;
        }
      }
    }
  }
}
