.featured {
  background-color: white;
  flex: 2;
  padding: 20px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-radius: 10px;
  height: max-content;

  &:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #374151;

    .title {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
    }

    .icon {
      cursor: pointer;
      width: 40px;
      height: 40px;
      padding: 5px;
      border-radius: 50%;
      background-color: #eef1f0;
      &:hover {
        color: #14532d;
        background-color: #86efac;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    -webkit-transition: all 0.5s ease-in-out !important;
    -moz-transition: all 0.5s ease-in-out !important;
    -o-transition: all 0.5s ease-in-out !important;
    -ms-transition: all 0.5s ease-in-out !important;
    transition: all 0.5s ease-in-out !important;

    .featured-chart {
      width: 120px;
      height: 120px;
      margin-top: 10px;
    }

    .title {
      font-weight: 500;
      color: #374151;
      text-transform: uppercase;
      font-size: 15px;
      margin-top: 10px;
    }

    .amount {
      font-size: 30px;
    }

    .desc {
      text-align: center;
      font-weight: 300;
      font-size: 14px;
      color: #374151;
    }

    .summary {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        text-align: center;

        .item-title {
          font-size: 14px;
          color: #374151;
        }

        .item-result {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px;
          font-size: 14px;

          &.positive {
            color: #22c55e;
          }

          &.negative {
            color: #e11d48;
          }

          svg {
            margin-left: -5px;
          }
        }
      }
    }
  }
}
