.success-container {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #22c55e;
  color: #22c55e;
  margin: 10px 0px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  .success.msg {
    font-weight: 500;
  }
}
